@model IEnumerable<DemoMvc.Models.EMPDATA>
@{
    ViewBag.Title = "AllEmpData";
}

<h2>AllEmpData</h2>

@using (Html.BeginForm("GetAllEmpData", "Update"))
{
    if (Model != null)
    {
        <table border="1" style="text-align:center;">
            <tr>
                <th>Select</th>
                <th>Empno</th>
                <th>Ename</th>
                <th>Job</th>
                <th>Manager</th>
                <th>Hiredate</th>
                <th>Sal</th>
                <th>Comm</th>
                <th>Deptno</th>
            </tr>
            @foreach (var row in Model)
            {
                <tr>
                    <td>@Html.RadioButton("RadioButton", @row.EMPNO)</td>
                    <td>@row.EMPNO</td>
                    <td>@row.ENAME</td>
                    <td>@row.JOB</td>
                    <td>@row.MGR</td>
                    <td>@row.HIREDATE</td>
                    <td>@row.SAL</td>
                    <td>@row.COMM</td>
                    <td>@row.DEPTNO</td>
                </tr>
            }

        </table>
        <input id="Submit1" type="submit" value="Submit" />
    }
}