@{
    ViewBag.Title = "SendObjectVB";
    var emp = ViewData["xyz"] as DemoMvc.Models.Emp;
}

<h2>SendObjectVB</h2>
<br />
<h3>ViewBag</h3><br />
<table border="1">
    <tr>
        <td>Empno</td>
        <td>EmpName</td>
        <td>Salary</td>
    </tr>
    <tr>
        <td>@ViewBag.emp.Empno</td>
        <td>@ViewBag.emp.Ename</td>
        <td>@ViewBag.emp.Salary</td>
    </tr>
</table>
<h3>ViewData</h3><br />
<table border="1">
    <tr>
        <td>Empno</td>
        <td>EmpName</td>
        <td>Salary</td>
    </tr>
    <tr>
        <td>@emp.Empno</td>
        <td>@emp.Ename</td>
        <td>@emp.Salary</td>
    </tr>
</table>

