@{
    ViewBag.Title = "SendObjectsVB";
}

<h2>SendObjectsVB</h2>
<h2>ViewBag</h2>
<br />
<table border="1">
    <tr>
        <td>Empno</td>
        <td>EmpName</td>
        <td>Salary</td>
    </tr>
    @foreach (var item in ViewBag.xyz)
    {
        <tr>
            <td>@item.Empno</td>
            <td>@item.Ename</td>
            <td>@item.Salary</td>
        </tr>
    }
</table>
<h2>ViewData</h2><br />
<table border="1">
    <tr>
        <td>Empno</td>
        <td>EmpName</td>
        <td>Salary</td>
    </tr>
    @foreach (var item in ViewData["abc"] as IList<DemoMvc.Models.Emp>)
    {
        <tr>
            <td>@item.Empno</td>
            <td>@item.Ename</td>
            <td>@item.Salary</td>
        </tr>
    }
</table>
