@model DemoMvc.Models.EMPDATA
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
<table>
    <tr>
        <td>
            Employee No
        </td>
        <td>
            @Html.TextBoxFor(a => a.EMPNO)
        </td>
    </tr>
    <tr>
        <td> Employee Name</td>
        <td>
            @Html.TextBoxFor(a => a.ENAME)
        </td>
    </tr>

    <tr>
        <td> JOB</td>
        <td>
            @Html.TextBoxFor(a => a.JOB)
        </td>
    </tr>

    <tr>
        <td> Manager</td>
        <td>
            @Html.TextBoxFor(a => a.MGR)
        </td>
    </tr>
    <tr>
        <td> Hiredate</td>
        <td>
            @Html.TextBoxFor(a => a.HIREDATE)
        </td>
    </tr>
    <tr>
        <td> Salary</td>
        <td>
            @Html.TextBoxFor(a => a.SAL)
        </td>
    </tr>
    <tr>
        <td> Commission</td>
        <td>
            @Html.TextBoxFor(a => a.COMM)
        </td>
    </tr>
    <tr>
       <td> Deptno</td>
        <td>
            @Html.TextBoxFor(a => a.DEPTNO)
        </td>
    </tr>
    <tr>
        <td><input id="Submit1" type="submit" value="Submit" /> </td>
    </tr>
</table>
    if (ViewBag.msg!=null)
    {
        <h3>@ViewBag.msg</h3>
    }
}